$seashell: seashell;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica;
    font-size: 22px;
    color: $seashell;
    background-color: black;
    opacity: 0.9;
    .header {
        img {
            height: 50px;
        }
        height: 69px;
        padding: 0 10px;
        border-bottom: 1px solid $seashell;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            opacity: 0.9;
            color: $seashell;
            text-decoration: underline;
        }
    }
    .mission {
        height: 700px;
        display: flex;
        justify-content: center;
        position: relative;
        img {
            margin-bottom: 80px;
            height: 100%;
        }
        .mission-message {
            text-align: center;
            position: absolute;
            background-color: black;
            height: 80px;
            z-index: 2;
            top: 50%;
            width: 1050px;
            color: $seashell;
            h2,
            h4 {
                opacity: 0.9;
            }
        }
    }
    .tea-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        .images-wrapper {
            display: flex;
            flex-direction: column;
            .images-row {
                display: flex;
                justify-content: center;
                .image-box {
                    margin: 0 20px;
                    img {
                        height: 200px;
                        width: 300px;
                    }
                }
            }
        }
    }
}
